<p style="color: green"><%= notice %></p>

<%= render @project %>

<div>
  <%= link_to "Edit this project", edit_project_path(@project) %> |
  <%= link_to "Back to projects", projects_path %>

  <%= button_to "Destroy this project", @project, method: :delete %>
</div>

<h2>Leave a comment</h2>
<%= render "comment", comment: @project.comments.new, project: @project %>

<h2>History</h2>
<%= render @project.events %>
